[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
langchain-core = "*"
langchain-community = "*"
langchain-experimental = "*"
reflex = "*"
black = "*"
pydantic = "*"
langchain-mongodb = "*"
decouple = "*"
langdetect = "*"
beautifulsoup4 = "*"
bpython = "*"
python-decouple = "*"
rich = "*"
finnhub-python = "*"
langchain-google-genai = "*"
tqdm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
