langchain
openai
langchain-core
langchain-community
langchain-experimental
reflex
black
pydantic
langchain-mongodb
python-decouple
langdetect
beautifulsoup4
bpython
rich
finnhub-python
langchain-google-genai
tqdm
ipykernel
streamlit
python-dotenv
